.root {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.labal {
  color: var(--Gray-700, #344054);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 6px;
}

.fld {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  color: var(--Gray-900, #101828);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  border-radius: 12px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 40px;
  padding: 8px 12px;
  box-sizing: border-box;
}

.invalid {
  border-radius: 12px;
  border: 1px solid var(--Error-300, #fda29b);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.error {
  color: var(--Error-500, #f04438);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 6px 0 0 0;
}

.eye {
  position: absolute;
  cursor: pointer;
  width: 16px;
  right: 14px;
}

.errorIcon {
  position: absolute;
  width: 16px;
  right: 14px;
}